@import url('https://fonts.cdnfonts.com/css/manga-temple');
body {
    font-family: 'Manga Temple', sans-serif;
    margin: 0;
}
#container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("wallpaper1.png");
}
#menu-inicial {                                     
    width: 44vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    background-color: rgb(240, 142, 142);
}
#titulo-menu1 {
    width: 29vw;
    height: auto;
}
#form-inicial {
    height: 100%;
    width: 70%;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: minmax(120px, auto) 1fr;
    grid-template-areas:
    "form-quantidade form-quantidade"
    "botao1 botao2"; 
}

#form-quantidade {
    grid-area: form-quantidade;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#botao-inicial1 {
    grid-area: botao1;
    display: grid;
    justify-content: center;
}

#botao-inicial2 {
    grid-area: botao2;
    display: grid;
    justify-content: center;
}

.botao{
    background-color: #FEF2CA;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.5s ease;
}
.botao:hover{
    background-color: #C8EBE5;
}

#quantidade-input {
    background-color: #FEF2CA;
    border-radius: 8px;
    width: 4vw;
    height: 3.5vh;
    margin-left: 1vw;

}

#quantidade-input:hover {
    background-color: #C8EBE5;
}

#container-meio {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("wallpaper2.png");
}

#menu-meio {                                     
    width: 55vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    background-color: white
}

.nomeando-times {
    background-color: #4FC6C7;
    margin: 5%;
    height: 5vh;
    width: 30vw;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    border-radius: 10px;
}

#titulo-menu2 {
    width: 32vw;
    height: auto;
}

#nome-input {
    background-color: #C8EBE5;
    border-radius: 8px;
    width: 14vw;
    height: 3.5vh;
    margin-left: 1vw;

}

#nome-input:hover {
    background-color: #F94828;
}

