@import url('https://fonts.cdnfonts.com/css/manga-temple');
body {
    font-family: 'Manga Temple', sans-serif;
    margin: 0;
}
#container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("wallpaper1.png");
}
#menu-inicial {                                     
    width: 44vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    background-color: rgb(240, 142, 142);
}
img {
    width: 29vw;
    height: auto;
}
#form-inicial {
    height: 100%;
    width: 100%;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: minmax(120px, auto) 1fr;
    grid-template-areas:
    "form-quantidade form-quantidade"
    "botao1 botao2"; 
}

#form-quantidade {
    grid-area: form-quantidade;
    display: grid;
    justify-content: center;
}

#botao-inicial1 {
    grid-area: botao1;
    display: grid;
    justify-content: center;
}

#botao-inicial2 {
    grid-area: botao2;
    display: grid;
    justify-content: center;
}

.botao{
    background-color: #FEF2CA;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.5s ease;
}
.botao:hover{
    background-color: #C8EBE5;
}

